# Build and temp directories
build/
*/build/
.gradle/
.idea/
*.iml
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Keystore files
*.jks
*.keystore

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx/

# NDK
obj/

# IntelliJ
*.iml
.idea/
.idea_modules/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# GamerXManager Specific Junk
GamerX-Terminal/
GamerX_Module*.zip
*.zip
*.log
*.txt
*.apk
extracted_module/
reference_module/
Reference_Spoofer/
$ROOTFS/
*.sh
*.toml
*.bak

# Drawable assets (large images) ignored
app/src/main/res/drawable/

